@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

:root {
	--color-fire: #ff7402;
	--color-grass: #9bcc50;
	--color-steel: #9eb7b8;
	--color-water: #4592c4;
	--color-psychic: #f366b9;
	--color-ground: #ab9842;
	--color-ice: #51c4e7;
	--color-flying: #3dc7ef;
	--color-ghost: #4d5b64;
	--color-normal: #a4acaf;
	--color-poison: #b35295;
	--color-rock: #a38c21;
	--color-fighting: #d56723;
	--color-dark: #707070;
	--color-bug: #729f3f;
	--color-dragon: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
	--color-electric: #bba909;
	--color-fairy: #fdb9e9;
	--color-shadow: #7b62a3;
	--color-unknow: #757575;

	--color-primary: #006d77;
	--color-primary-hover: #83c5be;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat';
}
/* Globales */
.container {
	max-width: 1200px;
	margin: 0 auto;
}

/* hero */



/* Header */
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 10px 0;
}

.logo img {
	width: 150px;
}

header form {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 15px;
}

.form-group {
	display: flex;
	align-items: center;
	gap: 10px;
	width: 70%;
	border: 1px solid #555;
	padding: 15px 20px;
	border-radius: 25px;
}

.form-group input {
	/* padding: 15px 30px; */
	font-family: inherit;
	width: 300px;
	border: none;
	outline: none;
	font-size: 15px;
}

.icon-search {
	width: 20px;
	height: 20px;
	stroke: #555;
}

.btn-search {
	border: none;
	outline: none;
	border-radius: 25px;
	padding: 15px 30px;
	font-family: inherit;
	color: #fff;
	background-color: var(--color-primary);
	cursor: pointer;
	font-weight: 500;
	letter-spacing: 2px;
	
}

.btn-search:hover {
	background-color: var(--color-primary-hover);
	color: #000;
}

/* Btn Filter */
.container-filter {
	display: flex;
	justify-content: end;
	margin-right: 10px;
}

.icon-filter {
	display: flex;
	align-items: center;
	gap: 15px;
	margin-bottom: 20px;
	cursor: pointer;
}

.icon-filter .icon {
	width: 30px;
	height: 30px;
	stroke: #555;

}

/* Card List Pokemon */
.card-list-pokemon {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 50px;
}


.front{
	height: 100%;
}

.back{
	height: 100%;
	justify-content: center;
	display: flex;


}

.card-pokemon, .front, .back{
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	transition: 1s;
}

.card-pokemon .front{
	transform: perspective(500px) rotateY(0deg);
	background-size: cover;
	background-position: center;
}


.card-pokemon .back{
	background: url(./assets/img/pokeatras.png);
	background-size: cover;
	background-position: center;
	transform: perspective(500px) rotateY(180deg);
}

.card-pokemon:hover .front{
	transform: perspective(500px) rotateY(180deg);
}

.card-pokemon:hover .back{
	transform: perspective(500px) rotateY(360deg);
}



.card-pokemon {
	position: relative;
	cursor: pointer;
	text-decoration: none;
	background-size: cover;
	width: 303px;
	height: 425px;
}

.card-list-pokemon img{
	height: 10px;
}

@media (max-width: 767px) { 
	.card-pokemon {
		width: 300px;
		height: 430px;
	} 
}

.card-img {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	height: 35%;
	
}

.card-img img {
	width: 100%;
	height: 200px;
	
}

.card-types{
	padding-left: 20px;
}

.card-info {
	margin-top: 20px;
	text-align: center;
	color: black;
}

.habilidades p{
	padding-top: 10px;
	display: inline-block;
	font-size: 15px;
}

.habilidades2 p{
	display: inline-block;
	font-size: 15px;
}

.habilidades p:nth-child(-n + 2){
	padding-right: 20px;
}

.habilidades2 p:nth-child(-n + 2){ 
	padding-right: 20px;
}


.habilidades2 p:nth-child(3){
	padding-top: 15px;
}

.card-pokemon h3 {
	color: #333;
	text-align: center;
	margin-top: 15px;
}

.pokemon-id {
	display: inline;
	color: #020202;
	margin-left: 5px;
	background-color: gray;
	border-radius: 100px;
	padding: 10px 10px;
	
}

.card-types {
	display: flex;
	gap: 10px;
	margin-top: 10px;
}

.card-types span {
	font-size: 12px;
	padding: 5px 20px;
	border-radius: 5px;
	color: #fff;
	height: 27px;
}

/* Types of Pokemon */



.card-pokemon.water .front{
	background: url(./assets/img/pokecarta.png);
	background-size: cover;
	background-position: center;
	background-color: var(--color-water);
	border-radius: 20px;
}

.card-types .water{
	background-color: var(--color-water);
}

.card-pokemon.fire .front{
	background: url(./assets/img/fuego.png);
	background-size: cover;
	background-color: var(--color-fire);
	border-radius: 20px;
}


.card-types .fire{
	background-color: var(--color-fire);
}


.card-pokemon.grass .front{
	background: url(./assets/img/planta.png);
	background-size: cover;
	background-color: var(--color-grass);
	border-radius: 20px;
}

.card-types .grass{
	background-color: var(--color-grass);
}

.card-pokemon.bug .front{
	background: url(./assets/img/planta.png);
	background-size: cover;
	background-color: var(--color-bug);
	border-radius: 20px;
}

.card-types .bug{
	background-color: var(--color-bug);
}

.card-pokemon.poison .front{
	background: url(./assets/img/fantasma.png);
	background-size: cover;
	background-color: var(--color-poison);
	border-radius: 20px;
}

.card-types .poison {
	background-color: var(--color-poison);
}

.card-pokemon.dragon .front{
	background: url(./assets/img/volador.png);
	background-size: cover;
	background-color: var(--color-bug);
	border-radius: 20px;
}

.card-types .dragon {
	background: var(--color-dragon);
}

.card-pokemon.flying .front{
	background: url(./assets/img/volador.png);
	background-size: cover;
	background-color: var(--color-bug);
	border-radius: 20px;
}

.card-types .flying {
	background-color: var(--color-flying);
}

.card-pokemon.normal .front{
	background: url(./assets/img/volador.png);
	background-size: cover;
	background-color: var(--color-normal);
	border-radius: 20px;
}

.card-types .normal {
	background-color: var(--color-normal);
}



.card-pokemon.steel .front{
	background: url(./assets/img/metal.png);
	background-size: cover;
	background-size: cover;
	background-color: var(--color-steel);
	border-radius: 20px;
}

.card-types .steel {
	background-color: var(--color-steel);
}


.card-pokemon.ground .front{
	background: url(./assets/img/tierra.png);
	background-size: cover;
	background-size: cover;
	background-color: var(--color-ground);
	border-radius: 20px;
}


.card-types .ground {
	background-color: var(--color-ground);
}


.card-pokemon.psychic .front{
	background: url(./assets/img/fantasma.png);
	background-size: cover;
	background-size: cover;
	background-color: var(--color-psychic);
	border-radius: 20px;
}


.card-types .psychic {
	background-color: var(--color-psychic);
}

.card-pokemon.ice .front{
	background: url(./assets/img/pokecarta.png);
	background-size: cover;
	background-position: center;
	background-color: var(--color-ice);
	border-radius: 20px;
}


.card-types .ice {
	background-color: var(--color-ice);
}

.card-pokemon.ghost .front{
	background: url(./assets/img/fantasma.png);
	background-size: cover;
	background-position: center;
	background-color: var(--color-ghost);
	border-radius: 20px;
}

.card-types .ghost {
	background-color: var(--color-ghost);
}



.card-pokemon.fairy .front{
	background: url(./assets/img/fantasma.png);
	background-size: cover;
	background-position: center;
	background-color: var(--color-fairy);
	border-radius: 20px;
}

.card-types .fairy {
	background-color: var(--color-fairy);
}

.card-pokemon.rock .front{
	background: url(./assets/img/fuego.png);
	background-size: cover;
	background-position: center;
	background-color: var(--color-rock);
	border-radius: 20px;
}

.card-types .rock {
	background-color: var(--color-rock);
}

.card-pokemon.electric .front{
	background: url(./assets/img/electrico.png);
	background-size: cover;
	background-position: center;
	background-color: var(--color-electric);
	border-radius: 20px;
}

.card-types .electric {
	background-color: var(--color-electric);
}

.card-pokemon.fighting .front{
	background: url(./assets/img/tierra.png);
	background-size: cover;
	background-position: center;
	background-color: var(--color-fighting);
	border-radius: 20px;
}

.card-types .fighting {
	background-color: var(--color-fighting);
}

.card-pokemon.dark .front{
	background: url(./assets/img/oscuro.png);
	background-size: cover;
	background-position: center;
	background-color: var(--color-dark);
	border-radius: 20px;
}

.card-types .dark {
	background-color: var(--color-dark);
}

/* Container Filters */
.container-filters {
	display: flex;
	justify-content: center;
	z-index: 100;
	position: fixed;
	top: 0;
	left: -300px;
	width: 250px;

	color: #555;
	background-color: #f2f2f2;
	height: 100%;
	padding-top: 40px;
	transition: all 0.3s linear;
}

.container-filters.active {
	left: 0;
}

.filter-by-type {
	display: flex;
	flex-direction: column;

	gap: 10px;
}

.filter-by-type span {
	font-weight: 700;
	font-size: 22px;
}

.group-type {
	display: flex;
	gap: 10px;

	margin-left: 15px;
}

.group-type label {
	cursor: pointer;
}
/*======================================= 
Styles of Pokemon Single Page
======================================= 
*/

.main-pokemon {
	display: flex;
	margin-top: 100px;
	margin-bottom: 50px;
}

.header-main-pokemon {
	margin-top: 20px;
	display: flex;
	align-items: center;
	position: relative;
}

.number-pokemon {

	font-size: 50px;
	font-weight: 700;
	color: var(--color-primary-hover);
}

.container-img-pokemon {
	padding: 25px 25px 25px 0;
	height: 300px;
	width: 300px;
	display: flex;
}

.container-img-pokemon img {
	height: 100%;
	width: 100%;
}

.container-info-pokemon {
	flex-wrap: wrap;
	justify-content: space-between;
	display: flex;
	flex-direction: row;
	height: 400px;
	width: 100%;
}

.container-info-pokemon h1 {
	font-size: 60px;
}

.info-pokemon {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.group-info{
	display: flex;
	gap: 10px;
}

.group-info p {
	font-weight: 700;
	font-size: 20px;
}

/* Stats */
.container-stats {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.stats {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.stat-group {
	display: flex;
	align-items: center;
	gap: 20px;
}




/* Search Page */

.p-search{
	margin-bottom: 30px;
	font-size: 22px;
}

.p-search span{
	font-weight: 700;
}

/* Loader */

.container-loader{
	display: flex;
	justify-content: center;
	margin: 200px 0;
}

/* Btn Load More */

.container-btn-load-more{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-top: 20px;
}

.btn-load-more{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	border: none;
	padding: 15px 40px;
	margin-bottom: 20px;
	font-family: inherit;
	background-color: var(--color-primary);
	color: #fff;
	border-radius: 10px;
	cursor: pointer;
}

.btn-load-more:hover{
	background-color: var(--color-primary-hover);
	color: #000;
}



/* pagina oak */

.paginaoak{
	background: rgb(62,137,130);
background: linear-gradient(360deg, rgba(62,137,130,1) 0%, rgba(81,148,139,1) 5%, rgba(80,145,137,1) 10%, rgba(105,162,155,1) 16%, rgba(130,177,171,1) 20%, rgba(158,195,188,1) 24%, rgba(158,195,188,1) 26%, rgba(188,215,208,1) 32%, rgba(206,227,222,1) 38%, rgba(228,243,240,1) 51%, rgba(229,244,241,1) 81%, rgba(228,243,238,1) 84%, rgba(228,243,238,1) 100%);
height: 100vh;
}



.cuadro-texto{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 20px;
	background-color: #FDFBFE;
	border-radius: 20px;
	border: 10px solid #8ABCD5;
	height: 150px;
	width: 90%;
	margin: 80px auto;
	font-family: 'Roboto Mono', monospace;
	font-size: 30px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	color: #3b3b3b;
}

.profesor{
	display: flex;
	justify-content: center;
	padding-top: 50px;
}

.profesor img{
	width: 13%;
}

@media (min-width: 768px) and (max-width: 1023px) {
	.profesor img{
		width: 25%;
	}

  }

@media (max-width: 767px) { 
	.profesor img{
		width: 40%;
	}

	.cuadro-texto{
		height: 200px;
		margin: 60px auto;
	}
	
}


.botonoak img{
	width: 50px;
}

.botonoak button{
	outline: none;
	border: none;
}